<!-- INCLUDE overall_header.html -->

<h2>{PAYPAL_TITLE}</h2>
<!-- IF not S_IS_BOT -->
<div class="panel pppaypalbody">
	<div class="inner">
		<div class="content">
			<!-- IF S_SANDBOX -->
			<p class="post-notice">{L_SANDBOX_MODE_WARNING}</p>
			<!-- ENDIF -->
			<!-- IF PAYPAL_TEXT --><p>{PAYPAL_TEXT}</p><!-- ENDIF -->
			<form action="{PAYPAL_ACTION}" method="post">
				<!-- IF .items -->
				<hr>
				<section class="items">
					<!-- BEGIN items -->
						<input type="radio" name="item_number" id="{items.ITEM_ID}" value="{items.ITEM_ID}">
						<label for="{items.ITEM_ID}">{items.ITEM_NAME}<br>{items.ITEM}</label>
					<!-- END items -->

				</section>
				<hr>
				<!-- ENDIF -->

				<div style="text-align: center;">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="{PAYPAL_EMAIL}">
					<input type="hidden" name="item_name" value="{PAYPAL_DEFAULT_ITEM}">
					<input type="hidden" name="return" value="{RETURN_URL}">
					<input type="hidden" name="cancel_return" value="{RETURN_URL}">
					<!-- IF S_CURL --><input type="hidden" name="notify_url" value="{IPN_URL}"><!-- ENDIF -->
					<input type="hidden" name="custom" value="{USER_ID}">
					<input type="hidden" name="currency_code" value="{CURRENCY}">

					<!-- <select name="currency_code" id="currency_code">{CURRENCY_CODE}</select> -->
					<select name="amount">{AMOUNT_LIST}</select> {CURRENCY}<br>
					<!-- IF not S_USER_LOGGED_IN and S_CURL -->
					<p>{L_USER_NOT_LOGGED_IN}</p>
					<!-- ENDIF -->
					<input type="submit" name="submit" value="{L_PAYPAL_DONATION}" class="button" style="margin: 20px; height: 38px;">

				</div>
			</form>
		</div>
	</div>
</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
